body {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.panel, .tree {
  width: 30%;
  padding-top: 2.5%;
  color: white;
  display: inherit;
  flex-direction: column;
}

.view {
  width: 40%;
  padding-top: 2.5%;
  color: white;
  display: inherit;
  align-items: center;
  flex-direction: column;
}

#iphone {
  width: 360px;
  height: 722px;
}

.parent-form {
  display: inherit;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: row;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo {
  width: 211.5px;
  height: 187.5px;
  margin-bottom: 100px;
}