body {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.panel, .tree {
  width: 30%;
  padding-top: 2.5%;
  color: white;
  display: inherit;
  flex-direction: column;
}

.view {
  width: 40%;
  padding-top: 2.5%;
  display: inherit;
  align-items: center;
  flex-direction: column;
}

.inner-view {
  width: 360px;
  height: 722px;
  background-image: url('../../assets/frame.png');
  background-size: 360px 722px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-view {
  margin-top: 45px;
  margin-left: 1px;
  width: 86.5%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.phone-screen {
  flex: 13;
  background-color: rgb(223, 223, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-tab {
  display: inherit;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

#iphone {
  width: 360px;
  height: 722px;
}

.parent-form {
  display: inherit;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: row;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo {
  width: 211.5px;
  height: 187.5px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  margin-top: 20px;
  color: rgb(0, 122, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}